@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* align-items: center; */
  background-color: hsl(0, 0%, 95%);
}
body,
html {
  height: 100vh;
}

.containers {
  display: flex;
  /* flex-direction: column; */
  max-width: 1050px;
  height: 80vh;
  margin: auto;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.column {
  /* width: 1050px; */
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  width: 375px;
}

img {
  width: 70px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}
.sedans a {
  color: hsl(31, 77%, 52%);
}

.sedans a:hover {
  color: white;
  background-color: hsl(31, 77%, 52%);
  border: solid white 2px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
}
.suv a {
  color: hsl(184, 100%, 22%);
}

.suv a:hover {
  color: white;
  background-color: hsl(184, 100%, 22%);
  border: solid white 2px;
}

.luxury {
  background: hsl(179, 100%, 13%);
}
.luxury a {
  color: hsl(179, 100%, 13%);
}
.luxury a:hover {
  color: white;
  background-color: hsl(179, 100%, 13%);
  border: solid white 2px;
}
h1 {
  font-family: 'Big Shoulders Display';
  margin: 30px 0;
  font-size: 2.5em;
}

a {
  margin-top: 50px;
  width: 55%;
  height: 50px;
  background-color: hsl(0, 0%, 95%);
  /* color: black; */
  font-size: smaller;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
}

p {
  font-family: 'Lexend Deca';
  font-size: 1em;
  font-weight: 100;
  line-height: 150%;
  color: hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 840px) {
  .containers {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 0%;
  }
}
